.nav-menu {
    background-color: #ff7710;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}
.nav-menu__logo-container {
    display: flex;
    align-items: flex-end;
}
.nav-menu__logo {
    font-size: 35px;
    font-weight: 900;
    color: black;
}
.nav-menu__name {
    font-weight: 700;
    font-size: 20px;
    color: black;
}
.nav-menu__button-container {
    display: flex;
    justify-content: end;
    list-style: none;
}
.nav-menu__button {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.nav-menu__button--active {
    font-weight: bold;
}
